[submodule "libs/deltachat-core-rust"]
	path = libs/deltachat-core-rust
	url = ssh://git@codeberg.org/qxp/deltachat-core-rust.git
[submodule "libs/notifiers"]
	path = libs/notifiers
	url = https://github.com/chatmail/notifiers
[submodule "relay"]
	path = relay
	url = ssh://git@codeberg.org/qxp/relay.git
	branch = qxp
